{% extends "./base.html" %}

{% block title %}{{name}}{% endblock %}

{% block content %}

{% include "./components/language_toggler_button.html" %}

<header>
    <h1>
        <span class="en">Hi! I'm Bernard Rodrigues</span>
        <span class="pt">Oi! Eu sou Bernard Rodrigues</span>
    </h1>
    <h2 class="en"><span>Django/React</span><br>FullStack Developer</h2>
    <h2 class="pt">Desenvolvedor Fullstack<br><span>Django/React</span></h2>
</header>

<main>
    {% include "./components/lines.html" %}
    
    {% include "./components/download_resume.html" %}
    
    {% include "./components/bio.html" %}

    {% include "./components/work_experience.html" %}

    {% include "./components/technologies.html" %}

    {% include "./components/projects.html" %}
</main>

{% include "./components/get_in_touch.html" %}

<script src="./scripts.js"></script>

{% endblock %}