<section id="bio">
    <h2 class="title">
        <span class="en">My Carreer</span>
        <span class="pt">Carreira</span>
    </h2>
    <div class="divider"></div>
    <div class="bio">
        <img src="./assets/images/BernardRodrigues.jpg" alt="Bernard's picture">
        <div class="pt">
            {% for paragraph in bio.pt %}
            <p>{{paragraph}}</p>
            {% endfor %}
        </div>
        <div class="en">
            {% for paragraph in bio.en %}
            <p>{{paragraph}}</p>
            {% endfor %}
        </div>
    </div>
</section>