<section id="projects">
    <h2 class="title">
        <span class="en">Projects</span>
        <span class="pt">Projetos</span>
    </h2>
    <div class="divider"></div>
    <div id="projects-container">
        {% for project in projects %}
        <div class="projectCard">
            <div class="cardHeader">
                <h2 class="name">{{project.name}}</h2>
                <h3 class="category">{{project.category}}</h3>
            </div>
            
            <img src="{{project.screenshot}}" alt="{{project.name}} screenshot" />
            
            <p class="description en">{{project.description.en}}</p>
            <p class="description pt">{{project.description.pt}}</p>
            <div class="urls">
                <a href="{{ project.url }}" target="_blank">
                    <span class="en">Project URL</span>
                    <span class="pt">Link do Projeto</span>
                </a>
                <a href="{{ project.repo_url }}" target="_blank">
                    <span class="en">Project Repo URL</span>
                    <span class="pt">Link do Repositório</span>
                </a>
            </div>
            <div class="technologies">
                {% for technology in project.technologies %}
                <span>#{{technology}}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="buttonContainer">
        <button type="button" id="show-more">
            <span class="en">Show more</span>
            <span class="pt">Mostrar mais</span>
        </button>
    </div>
</section>