<section id="technologies">
    <h2 class="title">
        <span class="en">Technologies</span>
        <span class="pt">Tecnologias</span>
    </h2>
    <div class="divider"></div>
    <div id="carousel-container">
        <div id="carousel">
            {% for technology in technologies %}
            <div class="carousel-item">
                <img src="{{technology.img_url}}" alt="{{technology.name}}'s logo">
                <span>{{technology.name}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</section>