@import "reset.css";
* {
  font-family: "Poppins", serif;
}

body {
  background-image: linear-gradient(to right, #000, #000030, #000);
}

main {
  padding: 1rem;
}
main section .title {
  font-size: 2.5rem;
  color: #e0b1cb;
  margin-top: 2rem;
}
main section .divider {
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, #231942, #e0b1cb);
  margin-bottom: 1rem;
}

header {
  text-align: center;
  margin-top: 5rem;
}
header h1 {
  font-size: 3.5rem;
  line-height: 3rem;
  color: #fff;
}
header h2 {
  font-family: "Poppins", serif;
  color: #fff;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}
header h2 span {
  background-image: linear-gradient(to top right, #5e548e, #e0b1cb);
  padding: 0 0.25rem;
  margin-right: 0.25rem;
}

h1, h2 {
  font-family: "Bebas Neue", serif;
}

.bio {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: #231942;
  border-radius: 0.25rem;
}
.bio img {
  max-width: 100%;
  height: auto;
}
.bio div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bio div p {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
}

#work-experience-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#work-experience-container .workCard .workStart, #work-experience-container .workCard .workEnd {
  color: #9f86c0;
  font-weight: 500;
}
#work-experience-container .workCard .workDescription {
  display: flex;
  align-items: stretch;
  position: relative;
  padding-bottom: 1rem;
}
#work-experience-container .workCard .workDescription .verticalDivider {
  position: absolute;
  width: 2px;
  height: 100%;
  margin: 0 1rem 0 0.5rem;
  background-image: linear-gradient(to bottom, #231942, #e0b1cb);
}
#work-experience-container .workCard .workDescription div {
  margin-left: 1.75rem;
}
#work-experience-container .workCard .workDescription div .company {
  color: #be95c4;
  font-size: 1.125rem;
}
#work-experience-container .workCard .workDescription div .role {
  color: #e0b1cb;
}
#work-experience-container .workCard .workDescription div p {
  color: #fff;
  font-weight: 200;
  font-size: 1rem;
  margin: 0.75rem 0;
}

#carousel-container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  position: relative;
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}
#carousel-container #carousel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  white-space: nowrap;
  padding: 1rem 0;
}
#carousel-container #carousel .carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: wrap;
  position: relative;
  z-index: 1;
  height: 4.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #231942;
  gap: 0.125rem;
  border: solid #5e548e 1px;
  transition: transform 0.3s, background-color 0.3s, border 0.3s;
}
#carousel-container #carousel .carousel-item:hover {
  transform: scale(1.1);
  background-color: #5e548e;
  border: solid #9f86c0 1px;
  z-index: 2;
}
#carousel-container #carousel .carousel-item img {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
}
#carousel-container #carousel .carousel-item span {
  font-size: 0.5rem;
  text-align: center;
  color: #fff;
  font-weight: 200;
}

#projects #projects-container {
  display: flex;
  flex-direction: column;
}
#projects #projects-container .projectCard {
  background-image: linear-gradient(to right, #231942, #5e548e);
  padding: 1rem 0.75rem;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
#projects #projects-container .projectCard .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
#projects #projects-container .projectCard .cardHeader .name {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  line-height: 1.5rem;
}
#projects #projects-container .projectCard .cardHeader .category {
  margin: 0;
  color: #e0b1cb;
  font-style: italic;
}
#projects #projects-container .projectCard img {
  max-width: 100%;
  height: auto;
}
#projects #projects-container .projectCard .urls {
  display: flex;
  justify-content: space-between;
}
#projects #projects-container .projectCard .urls a {
  padding: 0.5rem 1rem;
  transition: filter 0.3s;
  font-size: 0.75rem;
}
#projects #projects-container .projectCard .urls a:hover {
  filter: brightness(105%);
}
#projects #projects-container .projectCard .urls a:first-child {
  background-image: linear-gradient(to right, #be95c4, #e0b1cb);
  color: #231942;
}
#projects #projects-container .projectCard .urls a:last-child {
  background-image: linear-gradient(to right, #231942, #000);
  color: #fff;
}
#projects #projects-container .projectCard .description {
  color: #be95c4;
  font-size: 0.75rem;
}
#projects .buttonContainer {
  display: flex;
  justify-content: center;
}
#projects .buttonContainer #show-more {
  background-image: linear-gradient(to right, #be95c4, #e0b1cb);
  color: #231942;
  padding: 0.5rem 1rem;
  transition: filter 0.3s;
  font-size: 0.75rem;
}
#projects .buttonContainer #show-more:hover {
  filter: brightness(105%);
}

.technologies {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}
.technologies span {
  border: solid #e0b1cb 1px;
  color: #e0b1cb;
  padding: 0 0.25rem;
  font-size: 0.75rem;
  font-weight: 300;
}

#get-in-touch {
  background-color: black;
  color: #fff;
  padding: 1rem;
  font-weight: 200;
  margin-top: 2rem;
}
#get-in-touch .title {
  font-family: "Bebas Neue", serif;
  color: #e0b1cb;
  font-size: 2rem;
}
#get-in-touch div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#get-in-touch div a {
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
#get-in-touch div a span {
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  main {
    padding: 4rem;
  }
  #projects #projects-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  #projects #projects-container .projectCard {
    width: calc(50% - 0.5rem);
    flex-grow: 1;
  }
}
@media (min-width: 992px) {
  .bio {
    flex-direction: row-reverse;
    align-items: center;
    padding: 2rem;
  }
  .bio img {
    max-width: 50%;
    mask-image: linear-gradient(to right, transparent 0%, black 50%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 50%); /* For Safari and older Chrome */
  }
  .bio div p {
    font-size: 1.2rem;
  }
  #work-experience-container .workCard .workStart, #work-experience-container .workCard .workEnd {
    font-size: 1.2rem;
  }
  #work-experience-container .workCard .workDescription div {
    margin-left: 2rem;
  }
  #work-experience-container .workCard .workDescription div .company {
    font-size: 1.5rem;
  }
  #work-experience-container .workCard .workDescription div .role {
    font-size: 1.2rem;
  }
  #work-experience-container .workCard .workDescription div p {
    font-size: 1.125rem;
  }
  .technologies span {
    font-size: 1rem;
  }
  #projects #projects-container .projectCard {
    padding: 1.5rem;
  }
  #projects #projects-container .projectCard .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  #projects #projects-container .projectCard .cardHeader .name {
    font-size: 2rem;
  }
  #projects #projects-container .projectCard .cardHeader .category {
    font-size: 1.2rem;
  }
  #projects #projects-container .projectCard .description {
    font-size: 1rem;
  }
  #projects #projects-container .projectCard .urls a {
    padding: 0.5rem 1rem;
    transition: filter 0.3s;
    font-size: 1rem;
  }
  #projects .buttonContainer #show-more {
    font-size: 1rem;
  }
  #get-in-touch {
    padding: 2rem 4rem;
  }
  #get-in-touch div a {
    text-decoration: none;
    display: flex;
    gap: 0.75rem;
    align-items: center;
  }
  #get-in-touch div a span {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  main {
    padding: 10rem;
  }
  main section .title {
    font-size: 2.5rem;
  }
  main section .divider {
    height: 2px;
  }
  header {
    margin-top: 5rem;
  }
  header h1 {
    font-size: 5rem;
    line-height: 4rem;
  }
  header h2 {
    font-size: 2.5rem;
    margin-top: 0.5rem;
  }
  #projects #projects-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  #projects #projects-container .projectCard {
    width: calc(33.33% - 0.666rem);
    flex-grow: 1;
  }
  #projects #projects-container .projectCard .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  #projects #projects-container .projectCard .cardHeader .name {
    color: #fff;
    margin: 0;
    line-height: 1.75rem;
  }
  .technologies {
    flex-wrap: wrap;
  }
  .technologies span {
    font-size: 0.75rem;
  }
  #carousel-container {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    position: relative;
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  }
  #carousel-container #carousel {
    gap: 1rem;
  }
  #carousel-container #carousel .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: wrap;
    position: relative;
    z-index: 1;
    height: 6rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #231942;
    gap: 0.125rem;
    border: solid #5e548e 1px;
    transition: transform 0.3s, background-color 0.3s, border 0.3s;
  }
  #carousel-container #carousel .carousel-item:hover {
    transform: scale(1.1);
    background-color: #5e548e;
    border: solid #9f86c0 1px;
    z-index: 2;
  }
  #carousel-container #carousel .carousel-item img {
    height: 1.5rem;
    width: 1.5rem;
    object-fit: contain;
  }
  #carousel-container #carousel .carousel-item span {
    font-size: 0.75rem;
    text-align: center;
    color: #fff;
    font-weight: 200;
  }
}

/*# sourceMappingURL=style.css.map */
